{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Admin {% endblock %}
{% block extrastyle %}





{% endblock extrastyle %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
  
            <div class="col-lg-6">
              <div class="d-flex flex-column h-100">
                <p class="mb-1 pt-2 text-bold">Hello, {{ user.username }}</p>
                <h5 class="font-weight-bolder">Welcome to Hello Innovations</h5>
                <!-- <p class="mb-5">From colors, cards, typography to complex elements, you will find the full documentation.</p> -->
                <!-- <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                      Read More
                      <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a> -->
              </div>
              </div>
              
              <div class="col-lg-1 ms-auto text-center mt-5 mt-lg-0">
                <div class="bg-gradient-primary border-radius-lg h-100  ">
                  <div class="position-relative d-flex align-items-center justify-content-center h-100">
                    <h1 class="text-white">HI</h1>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>

  <div class="row mt-4">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Hospitals</p>
                <h5 class="font-weight-bolder mb-0">
                  <a href={% url 'hospital_list' %}>
                    <h5 class="text-success text-md font-weight-bolder">{{total_hospitals}}</h5>
                  </a>

                </h5>
                </div>
                </div>
                <div class="col-4 text-end">
              <a href={% url 'dashboard' %}>
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-single-02 text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </a>
              </div>
              </div>
              </div>
              </div>
              </div>


    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Logo</p>
                <h5 class="font-weight-bolder mb-0">
                  <a href={% url 'hospitalLogo_list' %}><span class="text-success text-md font-weight-bolder">{{ total_logo }}</span></a>
                  </h5>
                  </div>
                  </div>
                  <div class="col-4 text-end">
                    <!-- <a href={% url 'dashboard'%}>
                    <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                      <i class="ni ni-chart-bar-32 text-lg opacity-10" aria-hidden="true"></i>
                    </div>
                </a> -->
            </div>
            </div>
            </div>
            </div>
            </div>

    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Materials</p>
                <h5 class="font-weight-bolder mb-0">
                  <a href={% url 'patientawareness_List' %}><span class="text-success text-md font-weight-bolder">{{ total_materials }}</span></a>
                  </h5>
                  </div>
                  </div>
                  <div class="col-4 text-end">
              <a href={% url 'dashboard' %}>
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-chart-bar-32 text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </a>
              
              </div>
              </div>
              </div>
              </div>
              </div>


              <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                  <div class="card-body p-3">
                    <div class="row">
                      <div class="col-8">
                        <div class="numbers">
                          <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Hospital Image</p>
                          <h5 class="font-weight-bolder mb-0">
                            <a href={% url 'hospital_list_uploadImage' %}><span class="text-success text-md font-weight-bolder">{{ total_hospitalImage }}</span></a>
                            </h5>
                            </div>
                            </div>
                            <div class="col-4 text-end">
                        <a href={% url 'dashboard' %}>
                          <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                            <i class="ni ni-chart-bar-32 text-lg opacity-10" aria-hidden="true"></i>
                          </div>
                        </a>
                        
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>


    {% comment %} <h1>Total Data: {{ total_data }}</h1> {% endcomment %}

    {% comment %} <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">New Clients</p>
                <h5 class="font-weight-bolder mb-0">
                  +3,462
                  <span class="text-danger text-sm font-weight-bolder">-2%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Sales</p>
                <h5 class="font-weight-bolder mb-0">
                  $103,430
                  <span class="text-success text-sm font-weight-bolder">+5%</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
    </div>

  <div class="row">
    <div class="col-md-2">
      <h5 class="font-weight-bolder mb-0 text-center">
        <a href={% url 'hospital_list' %}><span class="text-success text-md text-ce font-weight-bolder">Total Hospital</span></a>
      </h5>
      <canvas id="circleChart" width="100" height="10"></canvas>
    </div>

    <div class="col-md-2">
      <h5 class="font-weight-bolder mb-0 text-center">
        <a href={% url 'hospitalLogo_list' %}><span class="text-success text-md text-ce font-weight-bolder">Total Logo</span></a>
      </h5>
      <canvas id="LogocircleChart" width="100" height="10"></canvas>
    </div>


    <div class="col-md-2">
      <h5 class="font-weight-bolder mb-0 text-center">
        <a href={% url 'patientawareness_List' %}><span class="text-success text-md text-ce font-weight-bolder">Total Files</span></a>
      </h5>
      <canvas id="materialcircleChart" width="100" height="10"></canvas>
    </div>


    <div class="col-md-2">
      <h5 class="font-weight-bolder mb-0 text-center">
        <a href={% url 'hospital_list_uploadImage' %}><span class="text-success text-md text-ce font-weight-bolder">Total Hospital Images</span></a>
      </h5>
      <canvas id="hospialImagecircleChart" width="100" height="10"></canvas>
    </div>
  </div>




  {% comment %} Projects {% endcomment %}
  <!-- <div class="row my-4">
        <div class="col-lg-6 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Hospitals</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">30 done</span> this month
                  </p>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a> 
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hospitals</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">City</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">State</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in ac_amc_list %}
                    {% if data.status|lower == 'active' %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ data.company_field }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% for custo in customer_list %}
                          {% if custo.company_name == data.company_field %}
                            <span class="text-xs font-weight-bold">  {{ custo.mobile_no }} </span>
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">  {{ data.start_date }} </span>
                      </td>
                      <td class="align-middle text-center">
                        <span style='width: 122px' class="text-xs font-weight-bold bg-success rounded text-white p-2">  {{ data.status|upper }} </span>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        {% comment %} CCTV AMC LIST {% endcomment %}
        <div class="col-lg-6 col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>Hospitals</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-check text-info" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">30 done</span> this month
                  </p>
                </div>
                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a> 
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
                      <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hospitals</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">City</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">State</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for data in cctv_amc_list %}
                    {% if data.cctv_status|lower == 'active' %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ data.cctv_company_field }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        {% for custo in customer_list %}
                          {% if custo.company_name == data.cctv_company_field %}
                            <span class="text-xs font-weight-bold">  {{ custo.mobile_no }} </span>
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">  {{ data.cctv_start_date }} </span>
                      </td>
                      <td class="align-middle text-center">
                        <span style='width: 122px' class="text-xs font-weight-bold bg-success rounded text-white p-2">  {{ data.cctv_status|upper }} </span>
                      </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> -->

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block extra_js %}

<script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
<script>
  var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "#fff",
          data: [45, 20, 10, 22, 50, 10, 40, 23, 50],
          maxBarThickness: 6
      },],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 500,
            beginAtZero: true,
            padding: 15,
            font: {
              size: 14,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
            color: "#fff"
          },
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false
          },
          ticks: {
            display: false
          },
        },
      },
    },
  });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
    gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

    var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

    gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
    gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Mobile apps",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: [20, 40, 50, 20, 50, 25, 40, 23, 50],
          maxBarThickness: 6

      },
        {
          label: "Websites",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#575f9a",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: [30, 90, 40, 14, 29, 29, 34, 23, 40],
          maxBarThickness: 6
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [5, 5]
          },
          ticks: {
            display: true,
            padding: 10,
            color: '#b2b9bf',
            font: {
              size: 11,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
          }
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
            borderDash: [5, 5]
          },
          ticks: {
            display: true,
            color: '#b2b9bf',
            padding: 20,
            font: {
              size: 11,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
          }
        },
      },
    },
  });
</script>




<script>
  document.addEventListener('DOMContentLoaded', function () {
    var ctx = document.getElementById('circleChart').getContext('2d');
    var logoctx = document.getElementById('LogocircleChart').getContext('2d');
    var materialctx = document.getElementById('materialcircleChart').getContext('2d');
    var hospitalIctx = document.getElementById('hospialImagecircleChart').getContext('2d');

    var Hpercentage = {{ hospitalPercentage }};
    var remainingHpercentage = 100 - Hpercentage;

    var Lpercentage = {{ logoPercentage }};
    var remainingLpercentage = 100 - Lpercentage;
    
    var materialPercentage = {{ materialsPercentage }};
    var remainingmaterialPercentage = 100 - materialPercentage;
    
    var hospitalImagepercentage = {{ hospitalPercentage }};
    var remaininghospitalImagePercentage = 100 - hospitalImagepercentage;
    

      var data = {
        labels: ['Hospitals'],
        datasets: [{
          data: [Hpercentage, remainingHpercentage],
          backgroundColor: ['rgba(75, 192, 192, 0.8)', 'rgba(255, 255, 255, 0.8)'], // Set colors as needed
          borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 255, 255, 1)'],
          borderWidth: 1
        }]
      };

    var Ldata = {
      labels: ['Logo'],
      datasets: [{
        data: [Lpercentage, remainingLpercentage],
        backgroundColor: ['rgba(75, 192, 192, 0.8)', 'rgba(255, 255, 255, 0.8)'], // Set colors as needed
        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 255, 255, 1)'],
        borderWidth: 1
      }]
    };

    var materialdata = {
      labels: ['Files'],
      datasets: [{
        data: [materialPercentage, remainingmaterialPercentage],
        backgroundColor: ['rgba(75, 192, 192, 0.8)', 'rgba(255, 255, 255, 0.8)'], // Set colors as needed
        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 255, 255, 1)'],
        borderWidth: 1
      }]
    };

    var hospitalImagedata = {
      labels: ['Hospital Images'],
      datasets: [{
        data: [hospitalImagepercentage, remaininghospitalImagePercentage],
        backgroundColor: ['rgba(75, 192, 192, 0.8)', 'rgba(255, 255, 255, 0.8)'], // Set colors as needed
        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 255, 255, 1)'],
        borderWidth: 1
      }]
    };

    var options = {
            {% comment %} cutout: '10%', {% endcomment %}
    cutoutPercentage: 10, 
        };

    var myDoughnutChart = new Chart(ctx, {
        type: 'doughnut',
        data: data,
        options: options
      });


      var myDoughnutChart = new Chart(logoctx, {
        type: 'doughnut',
        data: Ldata,
        options: options
      });

      var myDoughnutChart = new Chart(materialctx, {
        type: 'doughnut',
        data: materialdata,
        options: options
      });

      var myDoughnutChart = new Chart(hospitalIctx, {
        type: 'doughnut',
        data: hospitalImagedata,
        options: options
      });





    });                     
</script>

{% endblock extra_js %}