{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Add Customer {% endblock %}

{% block extrastyle %}
<style>
    .limit-text {
        max-width: 200px;
        /* Set the desired maximum width for the cell */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        /* Add this if you want to indicate the cell is truncated */
    }

    .cur {
        cursor: pointer
    }

    /* Custom CSS for smaller textareas */
    #id_shipping_address,
    #id_address {
        height: 100px;
        /* Adjust the height as needed */
    }

    table.dataTable thead .sorting_asc {
        background-image: none !important;
    }

    table.dataTable thead .sorting {
        background-image: none !important;
    }
</style>
{% endblock extrastyle %}

{% block content %}


<!-- Customer List -->
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center justify-content-between">
                                    <h3 class="h2 text-primary"> Complaint List </h3>
                                </div>
                            </div>
                            <hr>
                            <div class="card-body px-0 pt-0 pb-2">
                                <div class="table-responsive p-0">
                                    <table id='data-table' class="table align-items-center mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7">
                                                    Customer Name</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7 ">
                                                    Phone No.</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7 ">
                                                    Email Id</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7 ">
                                                    Problem</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7 ">
                                                    Category</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7 ">
                                                    Status</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7 ">
                                                    Date</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7">
                                                    Edit</th>
                                                <th class="text-center text-uppercase  font-weight-bolder opacity-7">
                                                    Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in queries %}
                                            <tr>
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <h6 class="mb-0 text-sm">{{data.name}}</h6>
                                                </td>
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <h6 class="mb-0 text-sm">{{data.phone}}</h6>
                                                </td>

                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <p class="text-xs font-weight-bold mb-0">{{data.email}}</p>
                                                </td>
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <p class="text-xs font-weight-bold mb-0">{{data.query_text}}</p>
                                                </td>
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <p class="text-xs font-weight-bold mb-0">{{data.category}}</p>
                                                </td>
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <p class="text-xs font-weight-bold mb-0 p-2 {% if data.status|lower == 'active' %} bg-success rounded text-white {% endif %} {% if data.status|lower == 'expired' %} bg-warning rounded text-white {% endif %} {% if data.status|lower == 'pending' %} bg-secondary rounded text-white {% endif %}">
                                                        {{ data.status|upper }}
                                                    </p>
                                                </td>
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <p class="text-xs font-weight-bold mb-0">{{ data.timestamp }}</p>
                                                </td>
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <a href="javascript:;"
                                                        class="text-secondary font-weight-bold text-xs badge badge-sm bg-gradient-secondary"
                                                        data-toggle="tooltip" data-original-title="Edit user">
                                                        <span class="badge badge-sm bg-gradient-secondary">View</span>
                                                    </a>

                                                    <!-- Edit Button -->
                                                    <button id="updatecus" type='button'
                                                        class="updatecus btn text-secondary font-weight-bold text-xs badge badge-sm bg-gradient-secondary"
                                                        data-bs-toggle="modal" data-fid="{{ data.id }}"
                                                        data-target="#updateCustomerModal{{ forloop.counter }}"
                                                        data-bs-target="#updateCustomerModal{{ data.id }}">
                                                        <span class="badge badge-sm bg-gradient-secondary">Change
                                                            Status</span>
                                                    </button>

                                                    {% comment %} <button type="button" data-toggle="modal"
                                                        class="btn btn-sm btn-info" data-bs-toggle="modal"
                                                        data-bs-target="#updateCustomerModal{{ customer.id }}">
                                                        Update
                                                    </button> {% endcomment %}
                                                </td>

                                                <!-- Delete Button  -->
                                                <td class="text-center font-weight-bolder opacity-7">
                                                    <a href="{% url 'delete_complaints' data.id %}"
                                                        class="text-secondary font-weight-bold text-xs cur"
                                                        data-toggle="tooltip" data-original-title="Edit user"
                                                        onclick="return confirm('Are You Sure,You want to delete this data?');">
                                                        <span class="badge badge-sm bg-gradient-warning">Delete</span>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Update Customer Modals -->
{% for data in queries %}
<div class="modal fade" id="updateCustomerModal{{ data.id }}" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Customer</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'update_complaints_list' data.id %}">
                    {% csrf_token %}

                    <label for="company_name">Status</label>
                    <select class="custom-select mb-3" name="complaint_status" id="complaint_status">
                        {% for status_value, status_label in complaint_status_choices %}

                        <option value="{{ status_value }}" >{{ status_label }}</option>

                        {% endfor %}

                    </select>

                    <button type="submit" class="btn btn-success">Update Status</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock content %}


{% block extra_js %}

<script>
    $(document).ready(function () {
        var dataTable = $('#data-table').DataTable({
            ajax: {
                url: 'http://127.0.0.1:8000/admin/ajax_complaints/',  // Replace with your API endpoint URL
                dataSrc: '',
            },
            columns: [
                { data: 'name' },
                { data: 'phone' },
                { data: 'email' }, 
                { data: 'complaint' },
                { data: 'category' },
                {
                    data: 'status', // 'status' column
                    render: function (data, type, row) {
                        return data.toUpperCase(); // Convert status to uppercase
                    }
                },
                { data: 'timestamp' },
                {
                    data: null,
                    render: function (data, type, row) {
                        var editButtonId = `edit-button-${data.id}`;
                        // Add edit button here
                        return `
                                <button type="button" 
                                    class=" btn-sm btn btn-secondary font-weight-bold text-xs"
                                    data-toggle="modal" data-fid="${data.id}"
                                    data-target="#updateCustomerModal${data.id}"
                                    data-bs-target="#updateCustomerModal${data.id}">
                                    <span class="badge badge-sm font-weight-bold">Change Status</span>
                                </button>
                                `;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        // Add delete button here
                        return `<a href="/admin/complaints_list/delete/${data.id}" class="btn btn-danger btn-sm" data-toggle="tooltip" data-original-title="Delete user" onclick="return confirm('Are You Sure,You want to delete this data?')">Delete</a>`;
                    }
                }
            ],
            pageLength: 10,
            stateSave: true, // Enable state saving
            createdRow: function (row, data, dataIndex) {
                // Add conditional classes to the 'status' column
                var statusCell = $('td', row).eq(5); // 5 is the index of the 'status' column
                var statusValue = data.status.toLowerCase();
    
                if (statusValue === 'active') {
                    statusCell.addClass('font-weight-bold mb-0 p-2 text-success text-white');
                } else if (statusValue === 'expired') {
                    statusCell.addClass('font-weight-bold mb-0 p-2 text-danger text-white');
                } else if (statusValue === 'pending') {
                    statusCell.addClass('font-weight-bold mb-0 p-2 text-warning text-white');
                }
            }
        });

        // Reload the DataTable every 10 seconds
        setInterval(function () {
            dataTable.ajax.reload(null, false);
        }, 10000);  
        // Reload every 10 seconds

        
    });
</script>



{% endblock extra_js %}